.TopBar {
  height: 50px;
  width: 100%;
  // padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
	box-shadow: 0px 0px 15px 0px #bdbdbd;
  position: absolute;
  z-index: 2;
  padding-left: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .brand {
    flex: 1;
    text-align: center;
    .logo {
      max-width: 160px;
    }
  }
  .topbar-link {
    border-right: 1px solid @topbar-link-separator;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;

    button {
      height: 100%;
      min-height: 100%;
      padding: 0 10px !important;
      border-radius: 0px!important;
    }
    &.menu-toggler {
      width: 50px;
    }
    &.sort-entries-wrap .sort-entries, &.add-entry-wrap .add-entry {
      display: flex;
      align-items: center;
      .icon {
        margin-right: 5px;
      }
    }
    &.add-entry svg {
      fill: @green;
    }
  }
  button {
    height: 100%;
    min-height: 100%;
    padding: 0 10px !important;
    border-radius: 0px!important;
    &>div {
      display: flex;
      align-items: center;
    }
  }
  .user-account-dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    
    .username {
      display: flex;
      padding: 0 5px;
      .avatar {
        padding: 0 10px;
        display: flex;
        align-items: center;
      }
    }
  }
}