.entry-list-item:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 25px rgba(0,0,0,.1);
}
.icon.icon-content {
  background: #27B7F6;
}

.icon.icon-photo {
  background: #FFC501;
}

.icon.icon-map {
  background: #00C7C0;
}

.icon.icon-list {
  background: #99A7CF;
}

.icon.icon-repeat {
  background: #9012FE;
}

.entryIcons span {
  padding: 0 10px;
}


.view-boxes.grid .entry-list-item {
  border: 1px solid #eee;
  flex-direction: column;
  width: 240px;
  float: left;
  margin: 20px;
  height: 120px;
  border-radius: 15px 0 15px;
}
.view-boxes.grid .entry-list-item a {
  text-align: center;
  padding: 0 10px;
}
.view-boxes.grid .entry-list-item .entryIcons {
  opacity: .8;
  margin-bottom: 10px;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #f3f5f7;
  padding: 10px 0;
  margin-bottom: 0;
  border-radius: 0 0 15px 0;
}
.view-boxes.grid .entry-list-item .icon {
  position: absolute;
  z-index: 1;
  top: -20px;
  margin-left: 0;  
  border-radius: 15px 0 15px 0;
}
.view-boxes.grid .entry-list-item button {
  display: none !important;
}